/runs/
/runs_opt/
/data/*
**/mlruns/
/.vscode
*.code-workspace
__pycache__/
/api/data
/api/models
/saved_models/
/tests/regression_tests/data/
/plots/
/evaluation_pipeline/local_logs/*
/experiements/GNN
/experiments/data
!/experiments/data/*ipynb
research_experiments/NRI/data/*.npy
research_experiments/NRI/logs/
research_experiments/visl/
research_experiments/set_transformer/set_transformer_paper/data/
research_experiments/set_transformer/set_transformer_paper/results/
research_experiments/e2e_causal_inference/data_generation/data
research_experiments/e2e_causal_inference/config_files
.tmp/
git_info.txt
run*kwargs*.json
*.ipynb_checkpoints
icml/
outputs/
research_experiments/context_bayes/plots

# Workaround for git to keep empty data/ directory around 
!/data/.keep
research_experiments/**/*.ipynb